In [3]:
#將Hello World 寫入檔案中
fid = open('test.txt', 'w')
fid.write('Hello\nWorld')
fid.close()

In [2]:
with open('test.txt', 'w') as f:
    f.write('Hi, World')

In [5]:
with open('test.txt', 'r') as f:
    for line in f:
        print line

Hello

World

In [6]:
with open('test.txt', 'r') as f:
    for line in f:
        print line.strip()

Hello
World

In [7]:
with open('test.txt', 'r') as fid:
    s = fid.read() 
print "line",s

line Hello
World

In [12]:
from collections import Counter
c = Counter()
with open('cnn.txt', 'r') as f:
    s = f.read()
for w in s.split():
    c[w] += 1
print c.most_common(10)

[('of', 92), ('the', 79), ('in', 60), ('pollution', 55), ('to', 37), ('and', 35), ('cities', 30), ('6', 26), ('The', 26), ('on', 25)]

## 運算式

In [13]:
a = True
b = False
print a== b

False

In [16]:
c = a == b
print type(c)
print c

<type 'bool'>
False

In [17]:
print not a

False

In [18]:
print not b

True

In [19]:
print (not a == b)

True

In [22]:
a = None
b = None
print type(a)
print dir(a)
print a == b

<type 'NoneType'>
['__class__', '__delattr__', '__doc__', '__format__', '__getattribute__', '__hash__', '__init__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']
True

## Statement

In [25]:
x = 100
if x > 50:
                                              print "ok"

ok

In [26]:
x = 100
if x > 50:
                                              print "ok"
else:
    print "no"

ok

In [27]:
x = 100
if x > 50:
    print "ok"
else:
    print "no"

ok

In [28]:
if True: 
    print 'It was true!'

It was true!

In [31]:
if 100: 
    print 'It was 100!'

It was 100!

In [29]:
if False: 
    print 'It was False!'

In [30]:
if None: 
    print 'It was None!'

In [32]:
if True: 
    print 'It was true!' 

x = False 

if x: 
    print 'x was True!' 
else: 
    print 'I will be printed in any case where x is not true'

It was true!
I will be printed in any case where x is not true

In [33]:
loc = 'Bank' 

if loc == 'Auto Shop': 
    print 'Welcome to the Auto Shop!' 
elif loc == 'Bank': 
    print 'Welcome to the bank!' 
else: 
    print 'Where are you?'

Welcome to the bank!

In [35]:
dic = {'a':1, 'b':2, 'c':3}
print dic['a']
print dic['d']

1

KeyError: 'd'

In [38]:
dic = {'a':1, 'b':2, 'c':3}
print dic.get('a')
print dic.get('d')
print dic.get('a', 'default')
print dic.get('d', 'default')

1
None
1
default

In [41]:
dic = {'Auto Shop':'Welcome to the Auto Shop!' , 'Bank':'Welcome to the bank!' }
print dic['Bank']
print dic.get('Bank', 'Where are you?')
print dic.get('workshop', 'Where are you?')
#print 'Where are you?'

Welcome to the bank!
Welcome to the bank!
Where are you?

In [42]:
import re
re.split('c|b', 'Welcome to the bank!')

['Wel', 'ome to the ', 'ank!']

## For 迴圈

In [43]:
# 印出 list 中的每個元素
l = [1,2,3,4,5,6,7,8,9,10] 
for num in l: 
    print num

1
2
3
4
5
6
7
8
9
10

In [44]:
l = [1,2,3,4,5,6,7,8,9,10] 
for num in l: 
    print num,

1 2 3 4 5 6 7 8 9 10

In [46]:
print range(1,11) #for(i = 1; i< 11; i++)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
print range(1,100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [48]:
for ele in range(1,10):
    print ele,

1 2 3 4 5 6 7 8 9

In [49]:
l = range(1,11)
# 從1加到10
list_sum = 0 
for num in l: 
        list_sum = list_sum + num 
print list_sum 

# 可以用 += 簡寫
list_sum = 0 
for num in l: 
        list_sum += num 
print list_sum

55
55

In [52]:
print sum(range(1,11))
print sum(range(1,101))

55
5050

In [54]:
# 取出每一個單字
for letter in 'This is a string.': 
    print letter

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [55]:
# 取出Tuple 中每一個元素
tup = (1,2,3,4,5) 
for t in tup: 
    print t

1
2
3
4
5

In [56]:
l = [(2,4),(6,8),(10,12)] 

for tup in l: 
    print tup

(2, 4)
(6, 8)
(10, 12)

In [57]:
l = [(2,4),(6,8),(10,12)] 

for tup in l: 
    print tup[0]

2
6
10

In [58]:
l = [(2,4),(6,8),(10,12)] 

for c1, c2 in l: 
    print c1

2
6
10

In [60]:
d = {'k1':1,'k2':2,'k3':3} 
print d
for item in d: 
    print item

{'k3': 3, 'k2': 2, 'k1': 1}
k3
k2
k1

In [61]:
from collections import OrderedDict
od = OrderedDict({'k1':1,'k2':2,'k3':3})
print od

OrderedDict([('k3', 3), ('k2', 2), ('k1', 1)])

In [64]:
print d
print d.items()

{'k3': 3, 'k2': 2, 'k1': 1}
[('k3', 3), ('k2', 2), ('k1', 1)]

In [65]:
for k, v in d.items(): 
    print k, v

k3 3
k2 2
k1 1

In [67]:
nums = [1, 2, 3, 4]
ary = []
for ele in nums:
    #print ele * ele
    ary.append(ele * ele)
print ary

[1, 4, 9, 16]

In [68]:
[ele * ele for ele in nums]

[1, 4, 9, 16]

In [70]:
nums = [2,8,1,6]
ary = []
for n in nums:
    if n <= 2:
        #print n
        ary.append(n)
print ary

[2, 1]

In [72]:
[n for n in nums if n <= 2]

[2, 1]

In [74]:
fruits = ['apple', 'cherry', 'bannana', 'lemon']
ary = []
for ele in fruits:
    if 'a' in ele:
        #print ele.upper()
        ary.append(ele.upper())
print ary

['APPLE', 'BANNANA']

In [75]:
fruits = ['apple', 'cherry', 'bannana', 'lemon']
[ele.upper() for ele in fruits if 'a' in ele]

['APPLE', 'BANNANA']

In [76]:
cnt  = 0
with open('cnn.txt', 'r') as f:
    for line in f:
        cnt +=1
print cnt

100

In [77]:
print len([line for line in open('cnn.txt', 'r')])

100

## Iterator

In [78]:
s = [1,2,3,4,5]
s_iter = iter(s)

In [79]:
print(next(s_iter))

1

In [80]:
print(next(s_iter))

2

In [82]:
next(s_iter)
print next(s_iter)
print next(s_iter)
print next(s_iter)

StopIteration:

In [83]:
x = 0 

while x < 10: 
        print 'x is currently: ',x 
        print 'x is still less than 10, adding 1 to x'  
        x+=1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [84]:
x = 0 

while x < 10: 
        print 'x is currently: ',x 
        print 'x is still less than 10, adding 1 to x'
        x+=1 
else: 
        print 'All Done!'

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x
All Done!

In [89]:
x = 0 

while x < 10: 
        print 'x is currently: ',x 
        print ' x is still less than 10, adding 1 to x' 
        x+=1 
        if x ==3: 
                  continue
                  print 'x==3' 
                  
        else: 
                  print 'continuing...' 
                  continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [91]:
a = 'hello world'
print a.split()
print a.split('l')

['hello', 'world']
['he', '', 'o wor', 'd']

In [92]:
import re
dir(re)

['DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__doc__',
 '__file__',
 '__name__',
 '__package__',
 '__version__',
 '_alphanum',
 '_cache',
 '_cache_repl',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pattern_type',
 '_pickle',
 '_subx',
 'compile',
 'copy_reg',
 'error',
 'escape',
 'findall',
 'finditer',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'sys',
 'template']

In [93]:
?re.split

In [94]:
import re
a = 'hello world'
print re.split(' |l', a)

['he', '', 'o', 'wor', 'd']

In [108]:
article = """
今天全台各地熱到爆，台北市繼出現37.9℃高溫後，今天下午2時46分飆出38.7℃高溫，不僅是台北市今年以來最高溫，也寫下台北站1896年設站以來6月最高溫紀錄，等於是百餘年來6月最高溫紀錄。
 
今天全台天氣熱呼呼，受到西南風過山沈降產生焚風影響，上午10時23分台東大武出現37.6℃的高溫，寫下今年以來全台最高溫紀錄，上午11時16分大武又出現38.2℃的高溫。
 
北市更令人驚訝，台北市也在11時38分出現36.6℃高溫，今上午12:54高溫37.9 度，13:34高溫38.2度，頻頻改寫百年6月最高溫，今天下午2時46分更飆出38.7℃高溫，不僅是台北市今年以來最高溫，也寫下台北站1896年設站以來6月最高溫紀錄，等於是百餘年來6月最高溫紀錄。
 
氣象局分析，台北測站創新高溫，主要是西南風影響，加上太平洋高壓勢力增強，今天雲量又不多，太陽照射下出現高溫，故出現高溫，今天不排除還有機會創新高溫機會。（生活中心／台北報導）
"""
for sentence in  re.split('，|。|／|）|（', article):
    print sentence

今天全台各地熱到爆
台北市繼出現37.9℃高溫後
今天下午2時46分飆出38.7℃高溫
不僅是台北市今年以來最高溫
也寫下台北站1896年設站以來6月最高溫紀錄
等於是百餘年來6月最高溫紀錄


今天全台天氣熱呼呼
受到西南風過山沈降產生焚風影響
上午10時23分台東大武出現37.6℃的高溫
寫下今年以來全台最高溫紀錄
上午11時16分大武又出現38.2℃的高溫


北市更令人驚訝
台北市也在11時38分出現36.6℃高溫
今上午12:54高溫37.9 度
13:34高溫38.2度
頻頻改寫百年6月最高溫
今天下午2時46分更飆出38.7℃高溫
不僅是台北市今年以來最高溫
也寫下台北站1896年設站以來6月最高溫紀錄
等於是百餘年來6月最高溫紀錄


氣象局分析
台北測站創新高溫
主要是西南風影響
加上太平洋高壓勢力增強
今天雲量又不多
太陽照射下出現高溫
故出現高溫
今天不排除還有機會創新高溫機會

生活中心
台北報導

In [104]:
a = u'今天全台各地熱到爆'
print len(a)
print range(0,len(a))
for i in range(0, len(a) - 1):
    print a[i:i+2]

9
[0, 1, 2, 3, 4, 5, 6, 7, 8]
今天
天全
全台
台各
各地
地熱
熱到
到爆

In [110]:
article = """
今天全台各地熱到爆，台北市繼出現37.9℃高溫後，今天下午2時46分飆出38.7℃高溫，不僅是台北市今年以來最高溫，也寫下台北站1896年設站以來6月最高溫紀錄，等於是百餘年來6月最高溫紀錄。
 
今天全台天氣熱呼呼，受到西南風過山沈降產生焚風影響，上午10時23分台東大武出現37.6℃的高溫，寫下今年以來全台最高溫紀錄，上午11時16分大武又出現38.2℃的高溫。
 
北市更令人驚訝，台北市也在11時38分出現36.6℃高溫，今上午12:54高溫37.9 度，13:34高溫38.2度，頻頻改寫百年6月最高溫，今天下午2時46分更飆出38.7℃高溫，不僅是台北市今年以來最高溫，也寫下台北站1896年設站以來6月最高溫紀錄，等於是百餘年來6月最高溫紀錄。
 
氣象局分析，台北測站創新高溫，主要是西南風影響，加上太平洋高壓勢力增強，今天雲量又不多，太陽照射下出現高溫，故出現高溫，今天不排除還有機會創新高溫機會。（生活中心／台北報導）
"""

In [146]:
a = ['今天全台各地熱到爆']
print a
print len('今天全台各地熱到爆')


b = [u'今天全台各地熱到爆']
print b
print len(u'今天全台各地熱到爆')


c = ['今天全台各地熱到爆'.decode('utf-8')]
print c
print len('今天全台各地熱到爆'.decode('utf-8'))

['\xe4\xbb\x8a\xe5\xa4\xa9\xe5\x85\xa8\xe5\x8f\xb0\xe5\x90\x84\xe5\x9c\xb0\xe7\x86\xb1\xe5\x88\xb0\xe7\x88\x86']
27
[u'\u4eca\u5929\u5168\u53f0\u5404\u5730\u71b1\u5230\u7206']
9
[u'\u4eca\u5929\u5168\u53f0\u5404\u5730\u71b1\u5230\u7206']
9

In [138]:
from collections import Counter
c = Counter()
for sentence in  re.split('，|。|／|）|（', article):
    for i in range(0,len(sentence.decode('utf-8')) -1):
        #print sentence.decode('utf-8')[i:i+2]
        c[sentence.decode('utf-8')[i:i+2]] +=1
for w, v in c.most_common(10):
    print w,v

高溫 20
台北 8
最高 8
出現 6
今天 6
紀錄 5
月最 5
6月 5
溫紀 5
北市 5